*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F7F7F9;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
/* .wrapper {
    margin: 30px;
    padding: 20px;
    width: 1440px;
    height: 900px;
    display: flex;
} */
nav{
    width: 100%;
    height: 100px;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    color: #1E255E;
    display: flex;
    font-size: 25px;
    font-weight: 500;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}
 .navitems{
    display: flex;
    align-items: center;
    gap: 25px;
} 
.navitems a{
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    color: #1E255E;
    font-weight: 600;
    display: inline;
    gap: 25px;
}
button{
    padding: 15px 20px;
    border-radius: 40px;
    background-color: rgb(65, 65, 246);
    color: white;
    border: 1px solid rgb(65, 65, 246) ;
}
.textblock h1{
    font-weight: 900;
    font-size: 80px;
    padding-left: 380px;
    padding-top: 60px;
    color: #1E255E;
}
.textblock p{
    color: rgba(30, 37, 94, 0.7);
    /* font-weight: 400; */
    font-size: 16px;
    padding-left: 380px;
   
}
.buttons{
    padding-left: 380px;
    padding-top: 20px;
    position: relative;
    
    
}
.btn1
{
    position: absolute;
    left: 380px;
    top: 32px;
    text-align: end; 
    padding: 0 4px;  
}
.b1{
    background-color: aliceblue;
    color: blue;
    font-size: 16px;
    font-weight: 600;
    padding-left: 25px;
    width: auto;
    
}
.b2{
    background-color: aliceblue;
    color: blue;
    font-size: 16px;
    font-weight: 600;
    padding-left: 25px;
    width: auto;
}
.btn2{
    position: absolute;
    left: 543px;
    top: 34px;
    text-align: end; 
    padding: 0 4px; 
}