.nn{
    width: 300px;
    height: 300px;
    background-color: blueviolet;

    margin: 50px auto;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
 

}
.nn:hover{
   background-color: brown;
   border-radius: 50%;
   
}
#naz{
    width: 300px;
    height: 300px;
    margin: 70px auto;
    background-color: aqua;
    transform: rotate(35deg);
    transform: scale(0.8);
    transform: rotate(25px 25px);
    transform: skew(40deg);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTImULmqmg4jJ7KRN55LLZayk32b9RdMGltCg&usqp=CAU);
    
}


/* #one{
    height: 600px;
    width: 600px;
    background-color: chocolate;
}
#two{
    height: 150px;
    width: 150px;
    background-color: chartreuse;
}
#three{
    height: 150px;
    width: 150px;
    background-color: darkblue;
} */
.container{
    background-color: gray;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.one{
    background-color: brown;
    width: 100px;
    height: 100px;
}
.two{
    background-color: yellow;
    width: 100px;
    height: 100px;
}
.three{
    background-color: green;
    width: 100px;
    height: 100px;
}
.four{
    background-color: burlywood;
    width: 100px;
    height: 100px;
}
.five{
    background-color: lightcoral;
    width: 100px;
    height: 100px;
}